$colors: (
    'black': #000000,
    'blue-dark': #2a002a,
    'blue-light': #576184,
    'grey': #636363,
    'white': #ffffff
);

// @font-face {
//     font-family: Moon;
//     src: url("./fonts/Moon2.0-Light.otf") format('truetype');
//     font-weight: lighter;
// }

// @font-face {
//     font-family: Moon;
//     src: url("./fonts/Moon2.0-Regular.otf") format('truetype');
//     font-weight: normal;
// }

// @font-face {
//     font-family: Moon;
//     src: url("./fonts/Moon2.0-Bold.otf") format('truetype');
//     font-weight: bold;
// }

* {
    text-decoration: none; 
    border: none;
}

body {
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    cursor: url('/media/icons/cursor.svg'), auto;
}

html, body {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: map-get($colors, 'blue-dark');
}

h1, h2, h3, h4, h5, p, label, input, textarea, select, option, li, span {
    font-family: Moon;
    color: map-get($colors, 'white');
    margin: 0;
}

ul {
    margin: 8px;
    padding-left: 20px;
}

li {
    position: relative;
    list-style-type: none;
    margin: 4px 0;
}

textarea {
    resize: none;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 1px;
}

input {
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-weight: 500;
    font-size: 1.5em;
}

h2 {
    font-weight: 400;
    font-size: 1.2em;
}

h3, p {
    font-weight: 300;
    font-size: .9em;
}

h4 {
    font-weight: 200;
    font-size: .8em;
}

h5 {
    font-size: .7em;
    font-weight: 100;
}

a, button, input[type="checkbox"], input[type="submit"] {
    pointer-events: visible;
    cursor: pointer;
    color: map-get($colors, 'white');
}

a:focus, {
    outline: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
}

label {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

p {
    font-size: .9em;
    margin: 5px 0;
}

input[type="checkbox"] {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.h-color--blue-dark {
    color: map-get($colors, 'blue-dark');
}

.h-animation-config {
    transition-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
    transition-duration: 1.5s; 
    animation-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
    animation-duration: 1.5s;
}

.h-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}