#l-canvas {
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    background-color: white;
}

#l-canvas__tools {
    margin-bottom: 5px;
}

#c-canvas {
    border: 1px solid black;
}